# Python
__pycache__/
*.pyc
.venv/
venv/
*.db
*.sqlite3
.pytest_cache/

# Env
.env
.env.local

# Node
node_modules/
.next/
out/
frontend/.env*.local

# Editors / OS
.DS_Store
.vscode/
.idea/

# Logs
*.log
